In [83]:
print("DEPENDENCIES AND SETUP")

DEPENDENCIES AND SETUP

In [59]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os
import csv
from IPython.display import HTML

In [95]:
print("LOAD CSV and DISPLAY")

LOAD CSV and DISPLAY

In [93]:
# File to Load - CHANGE FILE PATH and INCLUDE os.path.join 
# file_to_load = "Resources/purchase_data.csv"
csvpath = os.path.join("purchase_data.csv")
print(csvpath)


# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(csvpath)
purchase_df.head()

purchase_data.csv

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [62]:
# using describe as a counter check during calculations
    #using min and max in later calculations to evaluate age bins
purchase_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [102]:
print("Display Total Player Count")

Display Total Player Count

In [27]:
# Display the total number of players (using unique as this is only total that has value versus total rows of players)

player_count = len(purchase_df["SN"].unique())
print(player_count)

576

In [63]:
print("Purchasing Analysis")

Purchasing Analysis

In [50]:
# Purchasing Analysis (Total)
# Run basic calculations to obtain number of unique items, average price, etc.

#unique item count
item_count = len(purchase_df["Item ID"].unique())

#Average price
    #price_average = (purchase_df["Price"].count()/)
average_price = [np.round(purchase_df["Price"].mean(), 2)]

#Total number of purchases
purchase_count = len(purchase_df["Purchase ID"].unique())

#Total revenue
total_revenue = (purchase_df["Price"].sum())

# Create a summary data frame to hold the results
summary_table = pd.DataFrame({"Total Unique Players": player_count,
                              "Total Unique Items": [item_count],
                              "Average Price": [average_price],
                              "Number of Purchases": [purchase_count],
                              "Total Revenue":[total_revenue]})             
summary_table.style.format({"Average Price": "${:.2f}", "Total Revenue": "${:.2f}"})  

# Optional: give the displayed data cleaner formatting FOUND on Pandas.pydata.org
def hover(hover_color="#ffff99"):
    return dict(selector="tr:hover",
                props=[("background-color", "%s" % hover_color)])

styles = [
    hover(),
    dict(selector="th", props=[("font-size", "150%"),
                               ("text-align", "center")]),
    dict(selector="caption", props=[("caption-side", "bottom")])
]
html = (summary_table.style.set_table_styles(styles)
          .set_caption("Hover to highlight."))
html
# Display the summary data frame

In [64]:
#Gener Demographics
#get a unique count of players by gender to validate the specific counts
gender_uniquecount = purchase_df.groupby(["Gender"])["SN"].nunique()
gender_uniquecount

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [65]:
print("Gender Demographics")

Gender Demographics

In [57]:
#Gender Demographics

#Percentage and Count of Female Player
female_gender = purchase_df[purchase_df["Gender"] == "Female"]["SN"].nunique()

#Percentage and Count of Male Players
male_gender = purchase_df[purchase_df["Gender"] == "Male"]["SN"].nunique()

#Percentage and Count of Other / Non-Disclosed
other_gender = player_count - male_gender - female_gender

female_percent = ((male_gender / player_count)*100)
male_percent = ((female_gender / player_count)*100)
other_percent = ((other_gender / player_count)*100)

#table of gender data

gender_df = pd.DataFrame({"Gender": ["Female", "Male", "Other / Non-Disclosed"], "Percentage of Players":
                                      [female_percent, male_percent, other_percent],
                                      "Total Count": [female_gender, male_gender, other_gender]}, columns = 
                                       ["Gender", "Percentage of Players", "Total Count"])
                                        
gender_df_final = gender_df.set_index("Gender")
gender_df_final.style.format({"Percentage of Players": "{:.2f}%"})

In [66]:
print("Purchasing Analysis by Gender")

Purchasing Analysis by Gender

In [142]:
# Purchasing Analysis (Gender)

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

#Counts by gender
female_purchase = purchase_df[purchase_df["Gender"] == "Female"]["Price"].count()
male_purchase = purchase_df[purchase_df["Gender"] == "Male"]["Price"].count()
other_purchase = purchase_df[purchase_df["Gender"] == "Other / Non-Disclosed"]["Price"].count()

#Averages by gender
female_pa = purchase_df[purchase_df["Gender"] == "Female"]['Price'].mean()
male_pa = purchase_df[purchase_df["Gender"] == "Male"]['Price'].mean()
other_pa = purchase_df[purchase_df["Gender"] == "Other / Non-Disclosed"]['Price'].mean()

#Sum by gender
female_sum = purchase_df[purchase_df["Gender"] == "Female"]['Price'].sum()
male_sum = purchase_df[purchase_df["Gender"] == "Male"]['Price'].sum()
other_sum = purchase_df[purchase_df["Gender"] == "Other / Non-Disclosed"]['Price'].sum()

#Average Total Purchase per person by Gender
female_total = female_sum/female_purchase
male_total = male_sum/male_purchase
other_total = other_sum/other_purchase

#Create a summary data frame to hold the results

#Optional: give the displayed data cleaner formatting (figure out how to do the special formatting to ALL!)


gender_purchase_df = pd.DataFrame({"Gender": ["Female", "Male", "Other / Non-Disclosed"], 
                                   "Purchase Count": [female_purchase, male_purchase, other_purchase],
                                    "Average Purchase Price": [female_pa, male_pa, other_pa], 
                                    "Total Purchase Value": [female_sum, male_sum, other_sum],
                                    "Average Total Purchase": [female_total, male_total, other_total]}, 
                                     columns = ["Gender", "Purchase Count", "Average Purchase Price", 
                                                "Total Purchase Value", "Average Total Purchase"])
                                        
gender_purchase_final = gender_purchase_df.set_index("Gender")
gender_purchase_final.style.format({"Average Purchase Price": "${:.2f}", 
                                    "Total Purchase Value": "${:.2f}", "Average Total Purchase": "${:.2f}"})

#Display the summary data frame

In [103]:
print("Age Demographics")

Age Demographics

In [116]:
#Age Demographics

#Establish bins for ages  MIN was 7 MAX was 45
#Categorize the existing players using the age bins. ?? Hint: use pd.cut()??
# CREATE ACTUAL BINS
#purchase_df["age Range"] = pd.cut(purchase_df(age), bins, )

#Calculate the numbers and percentages by age group

underten = purchase_df[purchase_df["Age"] <10]
lowteens = purchase_df[(purchase_df["Age"] >=10) & (purchase_df["Age"] <=14)]
hiteens = purchase_df[(purchase_df["Age"] >=15) & (purchase_df["Age"] <=19)]
lotwenty = purchase_df[(purchase_df["Age"] >=20) & (purchase_df["Age"] <=24)]
hitwenty = purchase_df[(purchase_df["Age"] >=25) & (purchase_df["Age"] <=29)]
lothirty = purchase_df[(purchase_df["Age"] >=30) & (purchase_df["Age"] <=34)]
hithirty = purchase_df[(purchase_df["Age"] >=35) & (purchase_df["Age"] <=39)]
loforty = purchase_df[(purchase_df["Age"] >=40) & (purchase_df["Age"] <=44)]
hiforty = purchase_df[(purchase_df["Age"] >=45) & (purchase_df["Age"] <=49)]


#Create a summary data frame to hold the results
age_df = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"],
                        "Percentage of Players": [(underten["SN"].nunique()/player_count)*100, 
                                                  (lowteens["SN"].nunique()/player_count)*100, 
                                                  (hiteens["SN"].nunique()/player_count)*100, 
                                                  (lotwenty["SN"].nunique()/player_count)*100, 
                                                  (hitwenty["SN"].nunique()/player_count)*100,
                                                  (lothirty["SN"].nunique()/player_count)*100,
                                                  (hithirty["SN"].nunique()/player_count)*100, 
                                                  (loforty["SN"].nunique()/player_count)*100, 
                                                  (hiforty["SN"].nunique()/player_count)*100],
                        "Total Count": [underten["SN"].nunique(), lowteens["SN"].nunique(), 
                                        hiteens["SN"].nunique(), lotwenty["SN"].nunique(), 
                                        hitwenty["SN"].nunique(), lothirty["SN"].nunique(), 
                                        hithirty["SN"].nunique(), loforty["SN"].nunique(), 
                                        hiforty["SN"].nunique()]
                       })

#Optional: round the percentage column to two decimal points

age_final = age_df.set_index("Age")
age_final.style.format({"Percentage of Players": "{:.2f}%"})  
  
#Display Age Demographics Table

In [117]:
print("Top Spenders")

Top Spenders

In [146]:
#Top Spenders

#Run basic calculations to obtain the results in the table below, 
#Purchase Count	Average

# Calculate 'Total Purchase Count' for each SN:  count the SN and price values from the DF
count_per_SN = purchase_df.groupby('SN')['Price'].count()
count_per_SN_df = pd.DataFrame(count_per_SN)

# Calculate 'Total Purchase Price' for each SN: find the unique of the SN values within the DF and sum the prices
unique_SN_df = purchase_df.groupby('SN')['Price'].sum()

#Purchase Price	Total Purchase Value	Avg 
#Total Purchase per Person
# Calculate 'Average Purchase Price' Use mean to find the average of the SN spend within the DF
avg_price_per_SN = purchase_df.groupby('SN')['Price'].mean()

#Create a summary data frame to hold the results

# Add 'Average Purchase Price' to table  defining the column Average purchase
count_per_SN_df['Average Purchase Price'] = avg_price_per_SN

# Add 'Total Purchase Value' to table defining the column total purchase
count_per_SN_df['Total Purchase Value'] = unique_SN_df
count_per_SN_df

# Rename 'Price' to 'Purchase Count'  
updated_count_per_SN_df = count_per_SN_df.rename(columns={
    'Price': 'Purchase Count',
})

#Sort the total purchase value column in descending order

# Sort 'Price' from highest to lowest
sorted_SN_df = updated_count_per_SN_df.sort_values(by=['Total Purchase Value'], ascending=False)
sorted_SN_df

#Optional: give the displayed data cleaner formatting

#Display a preview of the summary data frame

# Show top 5 spenders only
sorted_SN_df.head(5)

# FOUND - 6-2-19 - COMPARE TO LEARN DIFFERENCE
#SN
#SN = data1.groupby(data1["SN"])
#ScreenName = SN["SN"].unique()

#Purchase Count
#SNCount = SN['Age'].count()

#Average Purchase Price
#SNAverage = round(SN['Price'].mean(),2)

#Total Purchase Value
#SNTotal = SN['Price'].sum()


#TopSpend = {"SN":ScreenName,"Purchase Count":SNCount,
             #    "Average Purchase Price":SNAverage,"Total Purchase Value":SNTotal}
#TopSpend1= pd.DataFrame(TopSpend)
#TopSpend1= TopSpend1.set_index('SN')
#TopSpend1 = TopSpend1.sort_values("Total Purchase Value",ascending=False)
#TopSpend1 = TopSpend1[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]

#TopSpend1.iloc[:5]

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [137]:
print("Most Popular Items")

Most Popular Items

In [150]:
#Most Popular Items

#Retrieve the Item ID, Item Name, and Item Price columns

#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value

#Create a summary data frame to hold the results

#Sort the purchase count column in descending order

#Optional: give the displayed data cleaner formatting

#Display a preview of the summary data frame
#merge dataframes to find purchase count, total purchase value for items
#reset indices to dataframes can be merged on specific elements
premergeone = purchase_df.groupby("Item Name").sum().reset_index()
premergetwo = purchase_df.groupby("Item ID").sum().reset_index()
premergethree = purchase_df.groupby("Item Name").count().reset_index()

#merge dataframes
mergeone = pd.merge(premergeone, premergetwo, on="Price")
mergetwo = pd.merge(premergethree, mergeone, on="Item Name")

#start to create final dataframe by manipulating data
mergetwo["Gender"] = (mergetwo["Price_y"]/mergetwo["Item ID"]).round(2)

mergetwo_renamed = mergetwo.rename(columns={"Age": "Purchase Count", "Gender": "Item Price", "Item ID": "null", "Price_y": "Total Purchase Value", "Item ID_y": "Item ID"})

#grab columns we are looking for
clean_df = mergetwo_renamed[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]

prefinal_df = clean_df.set_index(['Item ID','Item Name'])
popular_items_final = prefinal_df.sort_values('Purchase Count', ascending=False).head(10)
popular_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

In [111]:
print("Most Profitable Items")

Most Profitable Items

In [148]:
#Most Profitable Items

#Sort the above table by total purchase value in descending order
profit_items_final = prefinal_df.sort_values('Total Purchase Value', ascending=False).head()

#Optional: give the displayed data cleaner formatting

#Display a preview of the data frame
profit_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

In [112]:
print("Final Summary")

Final Summary

In [ ]:
#FINAL SUMMARY